.card-home {
  background-color: #fd620e;
  border: 2px solid black;
  color: white;
  transition: transform 0.2s;
}

.card-home:hover {
  transform: translateY(-5px);
}

.card-home .card-title,
.card-home .card-text {
  color: white;
}

.card-icon {
  font-size: 2.5rem;
  color: black;
}

.clickable-card {
  cursor: pointer;
  transition: transform .2s;
}

.clickable-card:hover {
  transform: scale(1.03);
}