.footer {
    background-color: #01328a !important; /* color de fondo */
    color: white;
    font-size: 0.9rem;
}

.footer .bi {
    color: white; /* iconos en blanco */
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra verticalmente */
    gap: 2px; /* pequeño espacio entre líneas */
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        
        gap: 10px;
        align-items: center;
    }
    .footer-right {
        text-align: left;
    }
}