.card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-title {
  font-weight: bold;
}

.card-text {
  margin-top: 10px;
}

.chart-container {
  width: 100%;
  max-width: 300px; /* controla el tamaño máximo */
  height: 300px;    /* altura fija */
  margin: 0 auto;
}
.card {
  background-color: #ffffff;
  border: 1px solid #dee2e6; /* borde gris claro */
  border-radius: 12px;
}