/* Fila título principal */
.table-header-title th{
  background-color: #fd620e; /* Naranja principal */
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

/* Encabezado columnas */
.table-header-columns th{
  background-color: #ffbd59;
  color: white;
  font-weight: bold;
}

/* Celdas */
.table th, .table td {
  vertical-align: middle;
  font-size: 0.95rem;
}

/* Acciones */
.action-icon {
  display: inline-flex;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  margin: 0 4px; /* Separación entre iconos */
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
}

.col-acciones {
  width: 140px;   /* ajusta según cantidad de iconos */
  text-align: center;
}

.action-icon:hover {
  transform: scale(1.08);
  opacity: 0.9;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-box {
  background: white;
  border-radius: 10px;
  width: 350px;
  padding: 20px;
  text-align: center;
  animation: fadeIn 0.25s ease;
}

.modal-box h5 {
  font-weight: bold;
  margin-bottom: 15px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.modal-buttons button {
  min-width: 90px;
}

/* Animación simple */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.85); }
  to { opacity: 1; transform: scale(1); }
}
