.crear-usuario .form-control,
.crear-usuario .form-select {
  border-radius: 0.5rem;
}

.btn-success {
  font-weight: bold;
}

.mensaje-exito {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 1055;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}